body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: url("/background.jpg");
    background-size: cover;
    background-position: center;
}
.button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
button {
    width: 100px;
}