.wrapper {
    width: 420px;
    position: relative;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid rgb(67, 65, 65);
    backdrop-filter: blur(10px);
}
p,label {
    font-weight: 700;
    color:rgb(67, 65, 65);
}
a {
    font-weight: 700;
}

.wrapper h1 {
    font-size: 40px;    
    text-align: center;
    color: rgb(67, 65, 65)
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: none ;
    color:black;
    font-weight: 700;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color:  rgb(67, 65, 65);
}

.input-box svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(67, 65, 65);
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-around;
    font-size: 14.5px;
    margin: -15px 0px 0;
}

.remember-forgot label input {
    accent-color: rgb(67, 65, 65);
    margin-right:  4px;
}

.remember-forgot label input {
    accent-color: rgb(67, 65, 65);
}
.remember-forgot a {
    color : rgb(67, 65, 65);
}

.remember-forgot a:hover {
    color : rgb(67, 65, 65);
    text-decoration: underline;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background-color: rgb(67, 65, 65) ;
    outline: none;
    border: none;
    margin: 10px 0 0px;
    border-radius: 40px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    text-align:center;
}

.wrapper .register-link {
    display: flex;
    justify-content: space-around;
    font-size: 14.5px;
    margin: 15px 0 0;
}
.register-link p a {
    color: rgb(67, 65, 65)
}

.register-link p a:hover {
    text-decoration: underline;
}